.credits {
    padding: 30px 0;
}
.credits-title {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--font-color);
}
.credits-cast-container {
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}
.cast-list {
    display: flex;
    width: max-content;
    padding: 15px 0;
}
.cast-prof {
    transform: scale(1.2);
}
.credits-cast-container::-webkit-scrollbar {
    display: none;
}
.single-cast {
    width: 140px;
    margin-right: 15px;
    box-shadow: 0 2px 8px var(--movie-page-single-cast-shadow);
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--movie-page-single-cast-border);
}
.cast-image {
    overflow: hidden;
}
.cast-details {
    padding: 10px;
}
.cast-name {
    font-size: 15px;
    color: var(--font-color);
}
.cast-character {
    font-size: 14px;
    color: var(--font-color);
}
.scroll-right {
    right: 0;
}
.scroll-left {
    left: 0;
}
.scroll {
    position: absolute;
    height: calc(100% - 30px);
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.btns-holder {
    position: relative;
}
.btns-holder:hover > .scroll {
    display: flex;
}
.scroll i {
    color: #fff;
    font-size: 50px;
}
.cast-found, .no-cast-found {
    color: var(--darker-font);
}
.no-cast-found {
    padding: 50px 0;
}
@media only screen and (max-width: 768px) {
    .btns-holder:hover > .scroll {
        display: none;
    }
}