/*BACKGROUND STYLES */

.details {
    width: 100%;
    height: 550px;
    background-color: var(--blue-color);
    position: relative;
}
.details-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
}
.details-bg-color {
    width: 30%;
    height: 100%;
}
.details-backdrop {
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.backdrop-color {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #0984e3,rgba(0,0,0,0)); */
    background: rgba(9,132,227,0.6);
}
.backdrop-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--blue-color),rgba(0,0,0,0));
}

/*MAIN STYLES */
.details-container {
    padding: 30px 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.details-poster {
    width: 325px;
}
.details-poster-image {
    border-radius: 12px;
}
.details-details {
    width: calc(100% - 325px);
    padding-left: 40px;
    z-index: 10;
    color: #fff;
}
.details-title-date {
    display: flex;
}
.details-title {
    font-size: 2.2rem;
    font-weight: 700;
}
.details-date {
    color: #D1CDCD;
    font-size: 2.2rem;
    padding-left: 10px;
    font-weight: 400;
}
.details-more {
    font-size: 16px;
    display: flex;
    align-items: center;
}
.details-type {
    border: 1px solid #D1CDCD;
    color: #D1CDCD;
    padding: 0 4px;
    border-radius: 3px;
    margin-right: 10px;
}
.genres {
    margin-left: 15px; 
}
.play-trailer {
    width: auto;
    height: auto;
}
.play-trailer-button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0;
    width: auto;
    height: auto;
    max-width: 110px;
}
.play-trailer-button:hover {
    color: #A49D9D;
}
.play-trailer-button span {
    padding-left: 8px;
}
.tagline {
    font-size: 18px;
    color: #D1CDCD;
}
.description {
    margin-top: 15px;
}
.description h3 {
    font-size: 1.3em;
    margin-bottom: 8px;
}
.description p {
    font-size: 1em;
}
.player-container {
    z-index: 1000;
    padding-left: 40px;
}
.player-back-btn {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back-btn {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}
.player-back-btn h3 {
    color: #fff;
}
.trailer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
}
.change-trailer-btn {
    padding: 0 10px;
    cursor: pointer;
}
.change-trailer-btn:hover{
    color: #A49D9D;
}
@media only screen and (max-width: 1111px) {
    .yt-player {
        width: 500px;
        height: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .details {
        min-height: 400px;
    }
    .details-poster {
        display: none;
    }
    .details-details {
        padding: 0 10px;
        width: 100%;
    }
    .details-bg-color {
        display: none;
    }
    .details-backdrop {
        width: 100%;
        background-position: center;
    }
    .details-title, .details-date {
        font-size: 2rem;
    }
    .genres {
        margin: 0;
        margin-top: 5px;
        flex-basis: 100%;
    }
    .details-more {
        flex-wrap: wrap;
    }
    .player-container {
        padding: 5px;
        width: 100%;
    }
    .player {
        width: 100%;
    }
    .yt-player {
        width: 100%;
        height: 350px;
    }
    .change-trailer-btn {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .details-title, .details-date {
        font-size: 1.9rem;
    }
}
@media only screen and (max-width:325px) {
    .details-title, .details-date {
        font-size: 1.5rem;
    }
}