/* OLD MOVIE PAGE STYLES */

/* .mr-details {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.pstr {
    width: 250px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}
.mv {
    display: flex;
    padding-bottom: 40px;
    width: 800px;
}
.mv-inf {
    margin-left: 40px;
}
.mv-title {
    font-size: 40px;
}
.det {
    display: flex;
    align-items: center;
    padding: 10px 0 15px 0;
}
.mv-num {
    padding-left: 3px;
}
.mv-rating {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.mv-genres {
    padding-left: 20px;
}
.mv-sgen {
    font-size: 16px;
    padding: 0 10px;
}
.mvd {
    font-size: 18px;
}
.ls {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
}
.grd h2 {
    padding-bottom: 25px;
}
@media only screen and (max-width: 800px) {
    .mv {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .mv-title {
        font-size: 8vw;
    }
    .mv-desc {
        max-width: auto;
    }
    .mvd {
        font-size: 4vw;
    }
    .mv {
        width: 100%;
        padding-bottom: 60px;
    }
    .mv-rating {
        font-size: 3vw;
    }
    .mv-genres {
        display: flex;
        flex-wrap: wrap;
    }
    .mv-sgen {
        font-size: 4vw;
    }
    .mv-poster {
        display: none;
    }
    .mv-inf {
        margin-left: 10px;
    }
} */

