.single-movie {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}
.sm-poster {
    border-radius: 10px;
}
.single-movie-details {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.single-movie-more {
    padding: 15px 0 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hp-type {
    padding: 5px 8px;
    font-size: 10px;
}
.single-movie-title {
    font-size: 14px;
}
.single-movie-title h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--font-color);
}
.release-date {
    color: var(--font-color);
    font-weight: bold;
    font-size: 14px;
}
.on-movie-hover {
    position: absolute;
    width: 100%;
    height: calc(100% - 4px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 10px;
}
.play-btn {
    width: 60px;
    height: 60px;
    background-color: var(--blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation-name: movie-hover-animation;
    animation-duration: 300ms;
}
.play-btn i {
    font-size: 20px;
    color: #fff;
    margin-left: 4px;
}
.poster-image-holder {
    position: relative;
}
@keyframes movie-hover-animation {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

/* @media only screen and (max-width: 768px) {
    .single-movie-hover {
        display: none;
    }
} */