.section-title h1 {
    color: var(--blue-color);
}
.title-underline {
    width: 300px;
    height: 2px;
    background-color: var(--blue-color);
    margin: 20px 0;
}
.select-movie {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 10px;
}
.movies-container {
    padding: 50px 0;
}

@media only screen and (max-width: 768px) {
    .select-movie {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media only screen and (max-width: 480px) {
    .select-movie {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}