.mobile-search-container {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background: var(--mobile-search-bg);
    z-index: 2000;
}
.mobile-search-form {
    display: flex;
    justify-content: center;
    padding: 50px 50px 15px 50px;
}
.mobile-search-input {
    font-size: 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid var(--blue-color);
    padding-bottom: 10px;
    width: 100%;
    color: var(--blue-color);
}
.mobile-search-close-button {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    color: var(--blue-color);
}
.mobile-search-input::placeholder {
    color: var(--blue-color)
}
.mobile-search-results {
    padding: 0 50px 20px 50px;
    overflow: auto;
    height: calc(100vh - 100px);
}
@media only screen and (max-width: 768px) {
    .mobile-search-container {
        display: block;
    }
}
@media only screen and (max-width: 320px) {
    .mobile-search-results, .mobile-search-form {
        padding-left: 30px;
        padding-right: 30px;
    }
}