.nav-bar {
    width: 100%;
    height: 80px;
    position: relative;
}
.nav-container {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, .blue-color {
    font-family: Pacifico;
    font-size: 50px;
}
.logo {
    color: var(--font-color)
}
.blue-color {
    color: var(--blue-color);
}
.logo-container {
    padding-bottom: 15px;
}
.nav-links {
    display: flex;
}
.nav-selector {
    margin-left: 50px;
}
.left-side {
    display: flex;
    align-items: center;
}
.form-container {
    padding: 10px 15px;
    background-color: var(--blue-color);
    border-radius: 20px;
    transition-duration: 150ms;
    position: relative;
}
.proposed {
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px -1px #000; */
    border: 1px solid var(--border-color);
    width: calc(100% + 100px);
    left: -50px;
    top: 55px;
    background-color: var(--bg-color);
    position: absolute;
    z-index: 10000;
    padding: 10px 0;
}
.prop-pointer {
    width: 20px;
    height: 20px;
    background-color: var(--bg-color);
    /* box-shadow: 0px 0px 5px -1px #000; */
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
.proposed-items {
    width: 100%;
    max-height: 400px;
    overflow: auto;
}
.proposed-items::-webkit-scrollbar {
    display: none;
}
.search-input {
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
}
.search-input::placeholder {
    color: #fff;
}
.search-input:focus + .submit-button, .search-input:focus, .submit-button:focus  {
    color: var(--blue-color);
}
.form-container:focus-within {
    background-color: var(--bg-color);
    border: 2px solid var(--blue-color);
}
.submit-button {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.hamburger {
    cursor: pointer;
}
.hamburger i, .search-button i {
    font-size: 20px;
    color: var(--font-color);
}
.mobile-nav-links li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
}
.mobile-nav-links li a:active {
    color: #0984e3;
    background-color: #fff;
}
.nothing-found {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nothing-found h1 {
    font-size: 20px;
}
.mobile-menu {
    display: none;
}
.hamburger {
    padding-left: 20px;
}
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-switch-holder {
    padding: 0 10px;
}
@media only screen and (max-width: 768px) {
    .nav-bar {
        height: 60px;
    }
    .mobile-menu {
        display: flex;
        align-items: center;
    }
    .right-side {
        display: none;
    }
    .left-side {
        width: 100%;
        justify-content: space-between;
    }
    .nav-links  {
        display: none;
    }
    .logo, .blue-color {
        font-size: 30px;
    }
    .logo-container {
        padding-bottom: 5px;
    }
}