.search-item {
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.search-item:hover {
    background-color: var(--border-color);
}
.item-poster {
    width: 100%;
}
.poster-holder {
    overflow: hidden;
    width: 60px;

}
.item-details {
    margin-left: 10px;
}
.item-details h3 {
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--font-color)
}
.item-rating {
    color: var(--blue-color);
    padding: 10px 0 10px 0;
}
.rating-number {
    padding-left: 5px;
}
.media-type span {
    color: var(--blue-color);
    width: 30px;
    padding: 3px;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .item-details h3 {
        font-size: 16px;
        width: 170px;
    }
    .item-rating, .media-type {
        font-size: 14px;
    }
    .mobile-search-item {
        padding: 10px 0;
    }
    .mobile-poster-holder {
        width: 100px;
    }
    .mobile-item-details h3 {
        font-size: 21px;
        width: calc(100vw - 200px);
    }
}