.top-today {
    width: 100%;
    height: 350px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-position: center;
    transition-duration: 500ms;
    
}
.top-today-container {
    padding: 40px;
}
.top-today-top {
    display: flex;
    align-items: center;
}
.top-today-title {
    font-size: 30px;
    color: var(--slider-btn);
}
.top-today-switch {
    display: flex;
    border: 2px solid var(--blue-color);
    overflow: hidden;
    border-radius: 15px;
    margin-left: 30px;
}
.switch {
    padding: 5px 25px;
    color: var(--slider-btn);
    cursor: pointer;
    transition-duration: 500ms;
}
.active-switch {
    background-color: var(--blue-color);
}
.top-today-dark {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.top-today-movies {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.top-today-image {
    width: 130px !important;
    transition-duration: 300ms;
}
.top-today-poster {
    border-radius: 10px;
}
.top-today-poster-title {
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 130px;
}
.top-today-poster-title h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.top-today-single {
    cursor: pointer;
}
.top-today-single:hover > .top-today-image {
    transform: scale(1.3);
}

@media only screen and (max-width: 968px) {
    .top-today-movies {
        width: 900px;
        padding-bottom: 15px;
    }
    .top-today-movies-container {
        overflow: auto;
    }
    .top-today-top {
        justify-content: center;
    }
    .top-today-container {
        padding: 40px 15px 0 15px;
    }
}
