.single-link {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.single-link i {
    font-size: 25px;
    color: var(--font-color);
}
.link-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--font-color);
    position: absolute;
    left: 50%;
    top: 50px;
    opacity:0;
    transform: translate(-50%, -50%);
}
.link-is-hovered {
    animation-name: link-label-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.link-out {
    animation-name: link-label-animation-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes link-label-animation {
    from {
        opacity: 0;
        top: 50px;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}
@keyframes link-label-animation-out {
    from {
        opacity: 1;
        top: 50%;
    }
    to {
        opacity: 0;
        top: 50px;
    }
}
.link-label-is-hovered {
    animation-name: link-icon-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.link-label-out {
    animation-name: link-icon-animation-out;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes link-icon-animation {
    from {
        opacity: 1;
        transform: translateY(0px);
    } 
    to {
        opacity: 0;
        transform: translateY(-25px);
    }
}
@keyframes link-icon-animation-out {
    from {
        opacity: 0;
        transform: translateY(-25px);
    } 
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}