.footer {
    width: 100%;
    background-color: var(--blue-color);
    padding: 25px 0;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lg, .logo-color {
    font-family: Pacifico;
    font-size: 60px;
}
.lg {
    color: #2f3640;
    padding-bottom: 30px;
}
.logo-color {
    color: #fff;
}
.copyright {
    font-weight: 700;
    color: #dcdde1;
}
.my-name {
    color: #fff;
    font-weight: 600;
}