* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    --bg-color: #fff;
    --font-color: #272727;
    --blue-color: #0984E3;
    --slider-shadow: gray;
    --slider-btn: #fff;
    --border-color: #DBDBDB;
    --darker-font: #2f3640;
    --movie-page-single-cast-shadow: rgb(0 0 0 / 15%);
    --movie-page-single-cast-border: rgb(277, 277, 277);
    --mbobile-search-bg: rgba(255, 255, 255, 0.9);
}
body.dark-theme {
    --bg-color: #1C2128;
    --font-color: #ADBAC7;
    --blue-color: #316DCA;/* #399ae5; */
    --slider-shadow: black;
    --slider-btn: #ADBAC7;
    --border-color: #444C56;
    --darker-font: #444C56;
    --movie-page-single-cast-shadow: rgb(0 0 0 / 15%);
    --movie-page-single-cast-border: #1C2128;
    --mobile-search-bg: rgba(28, 33, 40, 0.9);
}
body {
    transition-duration: 500ms;
    background-color: var(--bg-color);
}
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}
.mv-type {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 12px;
    padding: 5px 10px;
    background-color: var(--blue-color);
}
.body-no-scroll {
    overflow: hidden;
}
html::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
} 
html::-webkit-scrollbar-thumb {
    background-color: #0984E3;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 98%;
    }
    .err404 {
        width: 100%;
    }
}


