.slider {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}
.background-image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.dark {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.slider-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.slider-title {
    font-size: 60px;
    color: #fff;
}
.movie-details {
    color: #fff;
    font-size: 18px;
    display: flex;
    margin: 5px 0 20px 0;
}
.movie-rating {
    display: flex;
}
.rating {
    margin-left: 5px;
    font-weight: bold;
}
.type-name {
    padding-left: 10px;
    font-weight: bold;
}
.movie-desc {
    color: #fff;
    width: 700px;
    font-size: 16px;
}
.movie-info-container {
    text-shadow: 1px 1px 10px #000;
}
.watch-button {
    margin-top: 20px;
    background: none;
    outline: none;
    padding: 10px 25px;
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 300ms;
}
.watch-button:hover {
    background-color: var(--blue-color);
    color: var(--slider-btn);
}
.button-title {
    padding-left: 5px;
}
.slider-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.slide-line {
    width: 30px;
    height: 8px;
    background-color: var(--slider-btn);
    margin: 0 5px;
}
.active-slide {
    background-color: var(--blue-color);
}
@media only screen and (max-width: 768px) {
    .slider {
        height: 400px;
    }
    .movie-desc {
        display: none;
    }
    .slider-container {
        justify-content: center;
    }
    .movie-info-container {
        text-align: center;
    }
    .movie-details {
        justify-content: center;
        font-size: 14px;
    }
    .background-image-container {
        background-attachment: inherit;
        background-position: center;
        background-size: cover;
    }
    .slider-title {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .slider {
        width: 1280px;
        margin: 0 auto;
        height: 600px;
        border-radius: 25px;
        margin-top: 30px;
        box-shadow: 1px 1px 10px 2px var(--slider-shadow);
    }
}
